@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom dark mode styles */
body.dark {
    @apply bg-gray-900;
}

/* Dark mode specific styles */
.bg-pink-100.dark {
    @apply bg-gray-900;
}

.bg-yellow-400.dark {
    @apply bg-gray-800;
}

.text-navy-900.dark {
    @apply text-yellow-300;
}

.bg-white.dark {
    @apply bg-gray-800;
}

.bg-pink-50.dark {
    @apply bg-gray-700;
}

.text-gray-700.dark {
    @apply text-yellow-300;
}

/* General hover and button styles */
.nav-btn {
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
    transform: scale(1.05);
}

button {
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}
